<footer class="w-full flex bg-[#212121]">
    <main class="w-full text-white p-[10px]">
        <section class="flex justify-center items-center w-full flex-col">
            <section>
                <a href="https://www.instagram.com/iluz1a.1/"><i class="fa-brands fa-instagram text-[24px] mt-[7px] text-white transition ease-in-out hover:-translate-y-1 hover:scale-110 hover:text-[#ccc] duration-300 mx-[1px]"></i></a>
            <a href="https://discord.gg/afN8vs2XSN"><i class="fa-brands fa-discord text-[21px] mt-[7px] mx-[11px] text-white transition ease-in-out hover:-translate-y-1 hover:scale-110 hover:text-[#ccc] duration-300 mx-[1px]"></i></a>
            </section>
            <p class="font-K2D text-center">Created By aponchikj<br>Illusion Poster Shop</p>
        </section>
        <section class="flex flex-col justify-center items-center md:flex-col my-[10px] md:items-start md:justify-start md:my-[0px]">
            <a routerLink="/" class="text-white text-[22px] mx-[10px] font-K2D transition ease-in-out hover:-translate-y-1 hover:-scale-10 hover:text-[#ccc] duration-300">Home</a>
            <a routerLink="Posters" class="text-white text-[21px] mx-[10px] font-K2D transition ease-in-out hover:-translate-y-1 hover:-scale-10 hover:text-[#ccc] duration-300">Posters</a>
            <a routerLink="Contact" class="text-white text-[21px] mx-[10px] font-K2D transition ease-in-out hover:-translate-y-1 hover:-scale-10 hover:text-[#ccc] duration-300">About</a>
        </section>
    </main>
</footer>