<main class="h-[90vh] w-full bg-[#292929] overflow-y-hidden">
    <section class="w-full">
        <section class="flex flex-col md:flex-row w-full h-[65vh] justify-center items-center">
            <img src="../../assets/dalsheFotoebuRavime/tvaliLOGO.png" alt="wdwdw" class="w-[120px] md:w-[130px] mx-[30px] lg:w-[140px]">
            <h1 class="font-ALK text-white text-[35px] md:text-[40px] lg:text-[43px] my-[20px]">ილუზია</h1>
        </section>
        <section class="w-[100%] ml-[-3px] flex justify-center items-center p-[10px] bg-[#4F4F4F] -rotate-6">
            <h1 class="text-white font-ALK mx-[10px] text-[21px] md:text-[28px]">დაანგრიე</h1>
            <h1 class="text-red-500 font-ALK mx-[10px] text-[21px] md:text-[28px]">ილუზია</h1>
        </section>
    </section>
</main>