<main class="h-[90vh] bg-[#292929] w-full">
    <section>
        <marquee behavior="scroll" direction="left"><h1 class="text-red-500 font-ALK text-2xl my-[10px]">ERROR 404!</h1></marquee>
    </section>
    <section class="w-full flex-col text-center justify-center items-center flex h-[70vh]">
        <h1 class="text-white font-ALK text-2xl">PAGE NOT FOUND</h1>
        <h1 class="text-red-500 font-ALK text-2xl my-[10px]">ERROR 404!</h1>
    </section>
    <section>
        <marquee behavior="scroll" direction="right"><h1 class="text-red-500 font-ALK text-2xl my-[10px]">ERROR 404!</h1></marquee>
    </section>
</main>