<main class="h-[90vh] bg-[#292929] w-full">
    <section class="w-full h-[90vh] flex flex-col justify-center items-center text-white">
    
        <section class="flex-col font-ALK text-white text-2xl">
            <h1>ILLUSION STARTER POSTER SHOP FROM GEORGIA.</h1>
        </section>
        
        <section class="w-full">
            <marquee behavior="scroll" direction="left"><h1 class="flex-col font-ALK text-red-500 text-2xl">DESTROY ILLUSION</h1></marquee>
        </section>

    </section>
</main>