<main class="w-full h-[100vh] bg-[#292929] flex flex-col items-center justify-center">
    <section class="flex flex-col items-center justify-center text-center">
        <img src="../../assets/dalsheFotoebuRavime/tvaliLOGO.png" alt="" class="w-[150px] md:w-[230px] lg:w-[250px]">
        <h1 class="text-[25px] md:text-[28px] font-ALK text-white">Your Order successfully went to database <br>We will contact you from 1 to 4 days <br>Thank you! <br><span class="text-red-500">illusion</span></h1>
    </section>
    <ul class="flex my-[20px] flex-wrap justify-center items-center">
        <a routerLink="/" class="text-white text-[22px] mx-[10px] font-K2D transition ease-in-out hover:-translate-y-1 hover:scale-110 hover:text-[#ccc] duration-300">Home</a>
        <a routerLink="/Posters" class="text-white text-[22px] mx-[10px] font-K2D transition ease-in-out hover:-translate-y-1 hover:scale-110 hover:text-[#ccc] duration-300">Posters</a>
        <a routerLink="/Contact" class="text-white text-[22px] mx-[10px] font-K2D transition ease-in-out hover:-translate-y-1 hover:scale-110 hover:text-[#ccc] duration-300">About</a>
    </ul>
</main>