<app-header class=" w-full"></app-header>
<router-outlet></router-outlet>
<app-footer></app-footer>

<!-- <main class="w-full h-[100vh] flex flex-col justify-center items-center bg-[#292929]">
    <section class="flex flex-col items-center text-center">
        <img src="../assets/dalsheFotoebuRavime/tvaliLOGO.png" alt="" class="w-[200px] md:w-[300px] lg:w-[350px]">
        <h1 class="text-white font-ALK text-[26px] md:text-[30px] my-[20px]">Website is Under Reconstruction</h1>
    </section>
</main> -->
