<main class="h-[100vh] bg-[#292929]">
    <section class="flex w-full h-[100vh]">
        <section class="flex flex-col text-start items-center justify-center w-full md:flex-row md:justify-around">
            <section class="mt-[30px] w-[240px] md:w-[280px] lg:w-[300px] transition ease-in-out hover:-translate-y-1 hover:scale-110 hover:text-[#ccc] duration-300">
                <img src="{{poster.img}}" alt="image">
            </section>
            <section class="my-[10px] flex flex-col text-center  items-center mt-[20px]">
                <h1 class="text-[26px] font-K2D text-white font-geo">{{poster.name}}</h1>
                <h2 class="text-[23px] font-K2D text-white">{{poster.price}} GEL</h2>   
                <section class="flex mt-[30px]">
                    <a href="https://www.instagram.com/iluz1a.1/"><button class="flex text-white p-[5px] border w-[250px] md:w-[300px] text-center justify-center rounded-[100px] hover:bg-gray-950 font-K2D transition ease-in-out hover:-translate-y-1 hover:scale-110 hover:text-[#ccc] duration-300 text-[26px]" >PURCHASE</button></a>
                </section>
            </section>
        </section>

    </section>
</main>